@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Titillium Web , sans-serif;
  margin: 0;
  padding: 0;
}

.home {
  background-attachment: fixed;
  background-color: black;
  background-image: url('./img/bg.svg');

  /* background-position: center; */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: center;
}

.logo {
  width: 40%;
}

.filter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-container {
  align-items: center;
  color: white;
  display: flex;
  gap: 0.8em;
  height: 2em;
}

.input-element {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.495);
  color: white;
  outline: none;
}

.filter-numeric-sort-container {
  display: flex;
  gap: 4em;
  padding: 2em;
}

.numeric-sort-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  justify-content: space-between;
}

.line {
  align-self: center;
  background: rgba(255, 255, 255, 0.495);
  height: 100px;
  width: 1px;
}

.filter-btn {
  align-self: center;
  background-color: black;
  border: 1px solid yellow;
  border-radius: 10px;
  color: white;
  padding: 0.7em 1.4em;
  width: 50%;
}

.filter-btn:hover {
  background-color: rgb(20, 20, 20);
  cursor: pointer;
}

.radio {
  appearance: none;
  background-clip: content-box;
  background-color: rgb(85, 85, 85);
  border: 6px solid rgb(85, 85, 85);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.radio:checked {
  background-color: rgb(255, 255, 104);
  border: 3px solid rgb(85, 85, 85);
}

.remove-all-button {
  border: 1px solid rgb(255, 77, 77);
  width: 10%;
}
