@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;700&display=swap') ;

* {
  box-sizing: border-box;
  font-family: Titillium Web , sans-serif;
  margin: 0;
  padding: 0;
}

.home {
  background-attachment: fixed;
  background-color: black;
  background-image: url('./img/bg.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100%;
  overflow: auto;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;

}

.header > h1 {
  color: white;
  margin: 1em;
}

.logo {
  width: 40%;
}

.filter-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-container {
  align-items: center;
  color: white;
  display: flex;
  gap: 0.8em;
  height: 2em;
}

.input-element {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.495);
  color: white;
  outline: none;
}

.filter-numeric-sort-container {
  display: flex;
  gap: 4em;
  padding: 2em;
}

.numeric-sort-container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  justify-content: space-between;
}

.input-number {
  appearance: textfield;
}

.input-number::-webkit-inner-spin-button, .input-number::-webkit-outer-spin-button {
  appearance: none;
}

.line {
  align-self: center;
  background: rgba(255, 255, 255, 0.495);
  height: 100px;
  width: 1px;
}

.filter-btn {
  align-self: center;
  background-color: rgba(0, 0, 0, 0.73);
  border: 1px solid yellow;
  border-radius: 10px;
  color: white;
  padding: 0.7em 1.4em;
  width: 50%;
}

.filter-btn:hover {
  background-color: rgba(49, 49, 49, 0.824);
  cursor: pointer;
}

.radio {
  appearance: none;
  background-clip: content-box;
  background-color: rgb(85, 85, 85);
  border: 6px solid rgb(85, 85, 85);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}

.radio:checked {
  background-color: rgb(255, 255, 104);
  border: 3px solid rgb(85, 85, 85);
}

.remove-all-button {
  border: 1px solid rgb(255, 77, 77);
  width: 10%;
}

.filter-list-container, .placeholder {
  margin: 1em 1.3em;
}

.filter-list-item {
  align-items: center;
  color: white;
  display: flex;
  gap: 0.4em;
  padding: 0.2em;
}

.remove-filter-btn {
  background-color: transparent;
  border: none;
  color: rgb(255, 77, 77);
  cursor: pointer;
  font-size: 18px;
  margin: 0.2em 0.3em 0;
}

.table-container {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 15px;
}

th {
  text-align: left;
}

thead th {
  background-color: rgba(0, 0, 0, 0.73);
}

tbody td {
  max-width: 200px;
  overflow-wrap: break-word;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.273);
}
